@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
header h1{
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: bold;
}
header p{
    text-transform: capitalize;
}
.main{
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
}
.pads{
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 0 !important;
    margin: 0;
    
}
.pads >div{
    height: 7rem;
    
   
}
.pad1{
    background-color: #00ffff;
    /* animation: padAnimation1 1s ease-out  ; */
}
.pad2{
    background-color: #0000ff;
    /* animation: padAnimation2 1s ease-out  ; */
}
.pad3{
    background-color: #00ff26;
    /* animation: padAnimation3 1s ease-out  ; */
}
.pad4{
    background-color: #ff00ee;
    /* animation: padAnimation4 1s ease-out  ; */
}

.pad5{
    background-color: #9dff00;
    /* animation: padAnimation5 1s ease-out  ; */
}
.pad6{
    background-color: #ff0015;
    /* animation: padAnimation6 1s ease-out  ; */
}

.visual > div{
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    bottom: 0%;
    z-index: -1;
}
footer{
    color: white;
    font-size: xx-small;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-bottom: -1rem;
    overflow: hidden;
    bottom: 0%;
}
@keyframes pad1 {
    from{background-color: #00ffff;}
    to{background-color: #00adfd;}
}
@keyframes pad2 {
    from{background-color: #0000ff;}
    to{background-color: #0073ff;}
}
@keyframes pad3 {
    from{background-color: #00ff26;}
    to{background-color: #fff200;}
}
@keyframes pad4 {
    from{background-color: #ff00ee;}
    to{background-color:  #b300ff;}
}
@keyframes pad5 {
    from{background-color: #9dff00;}
    to{background-color: #e8ff65;}
}
@keyframes pad6 {
    from{background-color: #ff0015;}
    to{background-color: #ff0062;}
}

@keyframes jump{
    0%{
        bottom: 0%;
        left: 20%;

    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
        bottom: 0%;
        left: 80%;
    }
}

.play-btn{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Save */
.save{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
}
.save-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 20rem;
    height: 15rem;
    background-color: white;
    position: relative;
}
.save-form button{
    
    width: 5rem;
    margin: 0.5rem;
}
.save-form input{
    outline: none;
    border: 0;
    border-bottom: solid 1px grey;
}
.save-form input::placeholder{
    font-style: italic;
}
.save-form i{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
}
/* Display Saved Music */

.saved{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    /* background-color: grey; */
    width: auto;
    overflow: scroll;
   
}
.saved::-webkit-scrollbar{
    display: none;
}
thead {
    max-width: 100%;
   
    text-align: left;
    border-bottom: 1px solid grey;
    z-index: 2;
    
}

.tbody{
    margin-top: 10rem ;
    padding: 1rem;
    
    overflow: scroll ;
}
.saved-item{
    
    text-align: left;
    padding: 0.3rem;
    /* border-bottom:solid 1px black; */
    margin-bottom: 1rem;
    align-items: baseline;
    height: auto;
}
.saved-item p{
    margin: 0;
}
.saved ul {
    list-style: none;
    padding: 0;
}
.saved-item i{
    margin: 0 1.5rem;
    cursor: pointer;
}

/*  */
.visual{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.intro{
    max-width: 50%;
    animation: pulse 1s ease infinite;
    
}

@keyframes pulse {
    from{transform: scale(0.8); opacity: 0.5;}
    to{transform: scale(1.2); opacity: 1; color: black; font-weight: bold;}
}